services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce
    ports:
      - "5433:5432"

  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/ecommerce
    depends_on:
      - db
